@(user:Membre,listManga: List[Manga],lcf:List[Catfav],message:home_message)
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MyManga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="css/bootstrap.css">-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
   <!-- <link rel="stylesheet" href="css/bootstrap-responsive.css">-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
    <!--<link rel="stylesheet" href="css/prettyPhoto.css" />-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/prettyPhoto.css")">
    <!--<link rel="stylesheet" href="css/flexslider.css" />-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flexslider.css")">
   <!-- <link rel="stylesheet" href="css/custom-styles.css">-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom-styles.css")">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->

    <!-- Favicons
    ================================================== -->

    <!-- <link rel="shortcut icon" href="img/favicon.ico">-->
    <!--<img src="@routes.Assets.at("images/favicon.ico")" alt=""   rel="shortcut icon"/>-->
    <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png">-->
    <!--<img src="@routes.Assets.at("images/apple-touch-icon.png")" alt=""   rel="apple-touch-icon" />-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">-->
    <!--<img src="@routes.Assets.at("images/apple-touch-icon-72x72.png")" alt="" sizes="72x72" rel="apple-touch-icon" />-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">-->
    <!--<img src="@routes.Assets.at("images/apple-touch-icon-114x114.png")" alt="" sizes="114x114" rel="apple-touch-icon"  />
    <!-- JS
    ================================================== -->


</head>

<body class="home">


@import tags._

@header(user,lcf)












    <div class="row headline"><!-- Begin Headline -->

        <!-- Slider Carousel
       ================================================== -->
        <div class="span8" style="text-align: -webkit-center;">
            <h3>nouveauté<br />
            </h3>
            <div class="flexslider" style="margin-left:50px;max-width:500px">
                <ul class="slides">
                    <li><a href="/Manga/@listManga.get(listManga.size()-1).id"><img src="@routes.Assets.at("images/Mangas/"+listManga.get(listManga.size()-1).avatar)" alt="slider" /></a></li>
                    <li><a href="/Manga/@listManga.get(listManga.size()-2).id"><img src="@routes.Assets.at("images/Mangas/"+listManga.get(listManga.size()-2).avatar)" alt="slider" /></a></li>
                    <li><a href="/Manga/@listManga.get(listManga.size()-3).id"><img src="@routes.Assets.at("images/Mangas/"+listManga.get(listManga.size()-3).avatar)" alt="slider" /></a></li>

                </ul>
            </div>
        </div>

        <!-- Headline Text
        ================================================== -->
        <div class="span4">
            <h3>@message.titre<br />
               </h3>
            <p class="lead">@message.message</p>

        </div>
    </div><!-- End Headline -->



            <!-- Gallery Thumbnails
            ================================================== -->





<div class="row gallery-row" style="padding-left: 10%;"><!-- Begin Gallery Row -->

    <div class="span12">
        <h5 class="title-bg">Dernier Manga Ajouté
            <small></small>

        </h5>

        <!-- Gallery Thumbnails
        ================================================== -->

        <div class="row ">
            @for(g <- listManga) {
            <div class="span4">

                <div class="thumbnail">
                    <img src="@routes.Assets.at("images/Mangas/"+g.avatar)" alt="...">
                    <div class="caption">
                        <h3>@g.titre</h3>
                        <p>@g.auteur</p>
                        <p><a href="/Manga/@g.id" class="btn btn-primary" role="button">Détail</a> <a href="/bookmark/@g.id" class="btn btn-default" role="button">Suivre</a></p>
                    </div>
                </div>

            </div>
            }
        </div>
    </div>

</div><!-- End Gallery Row -->


















</div> <!-- End Container -->

<!-- Footer Area
    ================================================== -->

<div class="footer-container" ><!-- Begin Footer -->

    <div class="container" >
        <div class="row footer-row">
            <div class="span3 footer-col">
                <h5>a propos de nous</h5>
                <!--<img src="img/piccolo-footer-logo.png" alt="Piccolo" />-->
                <img src="@routes.Assets.at("images/manga1.png")" alt="" style="width: 50%;"  />
                <br /><br />
                <address>
                    <strong>Adresse</strong><br />
                   24 rue de l'environnement<br />
                    Akouda sousse TN<br />
                </address>
                <ul class="social-icons">
                    <li><a href="#" class="social-icon facebook"></a></li>
                    <li><a href="#" class="social-icon twitter"></a></li>

                </ul>
            </div>
            <div class="span3 footer-col">
                <h5>Dernier Manga Ajouté</h5>
                <ul>
                    <li><a href="/Manga/@listManga.get(listManga.size()-1).id">@listManga.get(listManga.size()-1).titre</a>@listManga.get(listManga.size()-1).auteur</li>
                    <li><a href="/Manga/@listManga.get(listManga.size()-2).id">@listManga.get(listManga.size()-2).titre</a> @listManga.get(listManga.size()-2).auteur</li>
                    <li><a href="/Manga/@listManga.get(listManga.size()-3).id">@listManga.get(listManga.size()-3).titre</a>@listManga.get(listManga.size()-3).auteur</li>
                </ul>
            </div>
            <div class="span3 footer-col">

            </div>
            <div class="span3 footer-col">

            </div>
        </div>

        <div class="row"><!-- Begin Sub Footer -->
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6"><span class="left">Copyright 2015 MyManga. All rights reserved.</span></div>
                    <div class="span6">
                            <span class="right">
                            <a href="#">accueil</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">recherche avancé</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">suggestion</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">nous aider</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">profil</a>
                            </span>
                    </div>
                </div>
            </div>
        </div><!-- End Sub Footer -->

    </div>
</div><!-- End Footer -->

<!-- Scroll to Top -->
<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>





<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

<script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>

    <script src="@routes.Assets.at("javascripts/jquery.prettyPhoto.js")"></script>

<script src="@routes.Assets.at("javascripts/jquery.flexslider.js")"></script>

    <script src="@routes.Assets.at("javascripts/jquery.custom.js")"></script>
<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });

});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });
});

</script>





</body>
</html>
