<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap2.css")">
</head>
<body>
<div class="btn-group-vertical" role="group" aria-label="...">
    <button type="button" class="btn btn-default" onclick="window.location.href='/ajouterManga'">Ajouter noveau manga</button>
    <button type="button" class="btn btn-default" onclick="window.location.href='/SelectionManga'">Modifier Manga</button>
    <button type="button" class="btn btn-default" onclick="window.location.href='/SupprimerManga'">Supprimer Manga</button>
    <button type="button" class="btn btn-default" onclick="window.location.href='/AjouterChapitre'">Ajouter chapiter</button>
    <button type="button" class="btn btn-default" onclick="window.location.href='/modifierChapitre'">Modifier Chapitre</button>
    <button type="button" class="btn btn-default" onclick="window.location.href='/SupprimerChapitre'">Supprimer Chapitre</button>
    <button type="button" class="btn btn-default" onclick="window.location.href='/AjouterCategorie'">Ajouter catégorie</button>
    <button type="button" class="btn btn-default" onclick="window.location.href='/SupprimerCategorie'">Supprimer Catégorie</button>
    <button type="button" class="btn btn-default">Left</button>
</div>



</body>
</html>