@(user:Membre,listGenre: List[Genre],lcf:List[Catfav])
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MyManga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="css/bootstrap.css">-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <!-- <link rel="stylesheet" href="css/bootstrap-responsive.css">-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
    <!--<link rel="stylesheet" href="css/prettyPhoto.css" />-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/prettyPhoto.css")">
    <!--<link rel="stylesheet" href="css/flexslider.css" />-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flexslider.css")">
    <!-- <link rel="stylesheet" href="css/custom-styles.css">-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom-styles.css")">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->




</head>

<body class="home">


@import tags._

@header(user,lcf)


<center>
<div class="well">
<form action="/advsrch" method="POST">
    <table width="50%">
        <tr><tD>
            <h3><span class="label label-default">Mot Clé :</span></h3>
            <div class="span12">

                    <div class="input-prepend">

                        <span class="add-on">mot clé:</span>
                        <input class="span2" id="prependedInput" size="23" type="text" placeholder="" name="ch" >
                    </div>

            </div>
        </td></tr>
        <tr><td>
            <h3><span class="label label-default">Genres :</span></h3>
            <div class="row">

            @for(g <- listGenre) {
                <div class="col-lg-6">
            <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" aria-label="..." name='genre' value="@g.genre">
      </span>
                @g.genre
            </div></div>
            }
</div>


</td>
               </tr>
           <tr><td>
               <h3><span class="label label-default">Statue:</span></h3>
                <br>
                <select name="statue">
                    <option  value="Termine">Terminé</option>
                    <option value="En cours">En cours</option>
                    <option value="One Shot">One Shot</option>
                    <option value="Annulé">Annulé</option>
                </select>
                </td></tr>
    </table>

                <button class="btn btn-large btn-inverse" type="submit">Chercher!</button>


</form>


</div>
</center>



</body>
</html>