@(user:Membre,lcf:List[Catfav])
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MyManga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="css/bootstrap.css">-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <!-- <link rel="stylesheet" href="css/bootstrap-responsive.css">-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
    <!--<link rel="stylesheet" href="css/prettyPhoto.css" />-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/prettyPhoto.css")">
    <!--<link rel="stylesheet" href="css/flexslider.css" />-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flexslider.css")">
    <!-- <link rel="stylesheet" href="css/custom-styles.css">-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom-styles.css")">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->




</head>

<body class="home">


@import tags._

@header(user,lcf)
<center>
    <h6 class="title-bg">Ajouter: <small>Manga</small></h6>
    <button class="btn btn-large btn-warning"  type="button" onclick="window.location.href='/userAddManga'">Ajouter un manga</button>
    <h6 class="title-bg">Ajouter: <small>Chpitre</small></h6>
    <button class="btn btn-large btn-warning" type="button" onclick="window.location.href='/userAddChapter'">Ajouter un chapitre</button>

</div>
</center>

</body>
</html>